* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

:root {
    --gris: #838383;

    --open-sans: 'Open Sans', sans-serif;
    --poppins: 'Poppins', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--gris);
}

.container {
    padding: 10px 0;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}


.hero {
    max-width: 1100px;
    width: 100%;
}

nav {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #504f4f;
    align-items: center;
    font-family: var(--poppins);
    position:fixed;
    z-index: 100;
}

.nav__logo {
    width: 59px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: block;

}

.nav__links {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    font-size: 15px;
    margin-bottom: 10px;
}

.nav__link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}

.nav__link:active {
    color: red;
} 

.hero__container {
    
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    background-position: center;
    align-items: center;
    justify-content: center;
    
    background-image: linear-gradient(
            
            0deg,
            rgba(0,0,0,0.5),
            rgb(0, 0, 0)

        )
        ,url(images/encabezado.jpg);    

}

.hero__texts {
    width: 90%;
    text-align: center;
    letter-spacing: .13px;
        
    color: white;
}

.hero__title {
    margin-bottom: 10px;
    text-shadow: 0 0 3px ;
    font-family: var(--poppins);
    text-align: center;
    font-size: 30px;
}

.hero__paragraft {
    font-weight: 600;
}

.hero__img {
    display: none;
}

/* .hero__wave {
  position: absolute;
  bottom: 0;
  left: 0;
  height:  40px;
  width: 100%;
  background-image: url(images/wave.svg);

} */


/*diseños*/

.diseños {
   display: flex;
   align-items: center;
   justify-content: center;
   
}

.diseños__contenido {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}


.contenido__title {
    font-family: var(--poppins);
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 50px;
    text-shadow: 0 0 3px;
    
}

.contenido__text {
    letter-spacing: .15px;
}

.hero__picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.diseños__logo {
    height: 170px;
    border-radius: 10px;
    margin: 35px auto;
    box-shadow: 0 0 10px;
}




.descubre {
    background-color: rgb(59, 59, 59);
    height: 80vh;
    text-shadow: 0 0 10px white;
}

.descubre__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    gap: 35px;
    
}

.descubre__title {
    font-family: var(--poppins);
    margin: 30px 0 15px; 
    padding: 20px;
    color: white;
    font-size: 25px;
    text-align: center;
}

.text {
    display: none;
}

.volante__contenido {
    background-image: linear-gradient(
            
    0deg,
    rgba(0,0,0,0.5),
    rgb(0, 0, 0)

    )
    ,url(images/volante.jpg);    
    background-size: cover;
    background-position: center center;
    height: 150px;
    width: 95%;
    padding: 50px;
    margin: 0 auto;
    color: white;
    border-radius: 15px;
}

.sueños__contenido {
    background-image: linear-gradient(
            
    0deg,
    rgba(0,0,0,0.5),
    rgb(0, 0, 0)

    )
    ,url(images/sueño.png);    
    background-size: cover;
    background-position: center center;
    height: 150px;
    width: 95%;
    padding: 50px;
    margin: 0 auto;
    color: white;
    border-radius: 15px;
}

.pasion__contenido {
    background-image: linear-gradient(
            
    0deg,
    rgba(0,0,0,0.5),
    rgb(0, 0, 0)

    )
    ,url(images/pasion.jpg);    
    background-size: cover;
    background-position: center center;
    height: 150px;
    width: 95%;
    padding: 50px;
    margin: 0 auto;
    color: white;
    border-radius: 15px;
}

button {
    margin: 10px 0;
    background-color: rgb(54, 54, 54);
    border-radius: 5px;
    padding: 5px 19px;
    font-weight: bold;
    color:white;
    box-shadow: 0 0 10px black;
    font-size: 15px;
}

button:active {
    background-color: rgb(42, 43, 43);
}

#footer {
    
}

.footer__links {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 20px;
    gap: 10px;
    width: 100%;

}

.footer__text {
    display: flex;
    flex-direction: column;
    
}

.footer__img {
    width: 55px;
    margin: 0 auto 10px;
}

.footer__copyright {
    color: rgb(22, 22, 22);
    font-size: 14px;
    margin: 10px auto;
}

@media (min-width:961px) {


    .nav__links {
        flex-direction: row;
        margin: auto 20px;
        gap:30px;
    }

    .nav__logo {
        margin: auto 20px;
    }

    nav {
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }



    .hero__container{
        background-image: linear-gradient(

            0deg,
            rgba(0,0,0,0.5),
            rgb(0, 0, 0)

        )
        ,url(images/gtr-r4.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 100vh;
        margin: 0;
        padding: 0;
    }

    .hero__texts {
        display: flex;
        flex-direction: column;
        width: 40%;
        text-align: start;
        margin-right: auto;
        margin-left: 200px;
        text-align: center;
    }

    .hero__img {
        display: block;
        width: 11vw;
        margin-right: auto;
    }

    #diseños {
        display: flex;
        height: 80vh;
        align-items: center;
        flex-direction: row-reverse;

    }

    .diseños__contenido {
        margin-left: auto;
        width: 30%;
      
    }

    .contenido__title {
        margin-top: 0;
    }

    .diseños__logo {
        width: 100%;
        height: 100%;
    }

    .hero__picture {
       margin-left: auto;
       height: 250px;
       width: 500px;
        align-items: center;
        
    }


    .descubre {
       
    }

    .descubre__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
        height: 70%;
        width: 80vw;
        margin: auto;
        overflow: hidden;
        font-size: 0.9em;
       
    }

    .descubre p {
        display: block;
    }

    .text{
        margin-top: 15px;
    }

    .volante__contenido {
        height: 100%;
    }

    .sueños__contenido{
        height: 100%;
    }

    .pasion__contenido {
        height: 100%;
    }

    button {
        display: none;
    }
}
